<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" type="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png" href="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png"/>
    <link rel="stylesheet" href="stylesheets/stylesCreate.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

    

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <title>Editar Categoría - Musculoesquelético</title>
    <style>
      label {
    color: #3D2E48;
    display: block;
    padding: 10px;
    margin: 3px;
    font-size: 17px;
  }
  h3 {
  color : #F29494;
  }
  hr,h5, hr{
    color: #7ABFA6;
    
  }
  h6, h4 {
    color : #F29494;
    font-size: 17px;
  }
  img {
    height: 210px;
}
.navbar {
  font-size: 21px;
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><iconify-icon icon="material-symbols:home-outline-rounded" style="color: #f29494;" width="30" height="30"></iconify-icon></a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">FisioInnova - Edición Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
      <div class="container">
        <br>
        <br>
        <br>
        <img src="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png" align="right" width="220" height="210" max-width= "263px">
        <br>
        <br>
        <br>
          <h3>Editar Categoría - Musculoesquelético</h3>
          <hr size="8px">
          <div class="row">
            <div class="container">
        </div>
          <div class="form-check-inline">
            <form action="/updateMus" method="POST">
              <div class="mb-3">
                <input type="number" class="form-control" id="id" name="id" placeholder="Código Persona" value="<%= user.id %>" hidden>
                </div>
            </div>
            <h6>Balance</h6>
            <br>
            <h5>Estabilidad Estática</h5>
            <div class="col-sm-1 col-md-2 col-lg-3">
            <label for="Romberg" class="form-label">Romberg</label>
            <input type="text" class="form-control" id="Romberg" name="Romberg" value="<%= user.Romberg %>">
             </div>
            <div class="col-sm-1 col-md-2 col-lg-3">
              <label for="RombergSensibilizado" class="form-label">Romberg Sensibilizado</label>
               <input type="text" class="form-control" id="RombergSensibilizado" name="RombergSensibilizado" value="<%= user.RombergSensibilizado %>">
              </div>
              <div></div>
              <br>
              <div class="col-sm-1 col-md-2 col-lg-3">
                <label for="ReaccionesEquilibrio" class="form-label">Reacciones de equilibrio</label>
                 <input type="text" class="form-control" id="ReaccionesEquilibrio" name="ReaccionesEquilibrio" placeholder="(Sedente, rodillas, bípedo)" value="<%= user.ReaccionesEquilibrio %>">
                </div>
              <div class="col-sm-1 col-md-2 col-lg-3">
                <label for="ReaccionesProtectivas" class="form-label">Reacciones Protectivas</label>
                 <input type="text" class="form-control" id="ReaccionesProtectivas" name="ReaccionesProtectivas" placeholder="(Sedente, rodillas, bípedo)" value="<%= user.ReaccionesProtectivas %>">
                </div>
                <div></div>
                <br>
                <br>
                <h5>Circulación Arterial, Venosa y Linfática</h5>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                    <label for="MMSSPDCirculacionAVLMusculo" class="form-label">Perfusión distal (sgs) - MMSS</label>
                    <input type="text" class="form-control" id="MMSSPDCirculacionAVLMusculo" name="MMSSPDCirculacionAVLMusculo" value="<%= user.MMSSPDCirculacionAVLMusculo %>">
                    </div>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                    <label for="MMIIPDCirculacionAVLMusculo" class="form-label">Perfusión distal (sgs) - MMII</label>
                   <input type="text" class="form-control" id="MMIIPDCirculacionAVLMusculo" name="MMIIPDCirculacionAVLMusculo" value="<%= user.MMIIPDCirculacionAVLMusculo%>">
                   </div>
                  <div class="col-sm-1 col-md-2 col-lg-3">
                  <label for="PulsosCirculacionAVLMusculo" class="form-label">Pulsos</label>
                  <input type="text" class="form-control" id="PulsosCirculacionAVLMusculo" name="PulsosCirculacionAVLMusculo" value="<%= user.PulsosCirculacionAVLMusculo %>">
                  </div>
                  <div class="col-sm-1 col-md-2 col-lg-3">
                  <label for="EdemaCirculacionAVLMusculo" class="form-label" >Edema</label>
                  <input type="text" class="form-control" id="EdemaCirculacionAVLMusculo" name="EdemaCirculacionAVLMusculo" value="<%= user.EdemaCirculacionAVLMusculo %>">
                  </div>
                  <div></div>
                <br>
                <br>
                <h5>Integridad articular y de la movilidad</h5>
                <br>
                <br>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                    <input type="text" class="form-control" id="IntegridadArticularyMovilidad" name="IntegridadArticularyMovilidad" placeholder="(Pruebas de estabilidad articular)" value="<%= user.IntegridadArticularyMovilidad %>">
                    </div>
                    <div></div>
                    <br>
                    <br>
                    <h5>Funciones Mentales</h5>
                    <br>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                      <label for="EstadoConciencia" class="form-label">Estado de Conciencia</label>
                       <input type="text" class="form-control" id="EstadoConciencia" name="EstadoConciencia" value="<%= user.EstadoConciencia %>">
                      </div>
                  <div class="col-sm-1 col-md-2 col-lg-3">
                    <label for="Orientacion" class="form-label">Orientación</label>
                     <input type="text" class="form-control" id="Orientacion" name="Orientacion" placeholder="(Persona, tiempo y espacio)" value="<%= user.Orientacion %>">
                    </div>
                      <div class="col-sm-1 col-md-2 col-lg-3">
                        <label for="Cognicion" class="form-label">Cognición</label>
                         <input type="text" class="form-control" id="Cognicion" name="Cognicion" value="<%= user.Cognicion %>">
                        </div>
                        <div></div>
                    <br>
                    <br>
                    <h5>Desempeño Muscular (Incluyendo fuerza potencia, resistencia y longitud)</h5>
                    <br>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                      <label for="FMMSuperiores" class="form-label">Fuerza Muscular (Miembros Superiores)</label>
                       <input type="text" class="form-control" id="FMMSuperiores" name="FMMSuperiores" value="<%= user.FMMSuperiores %>">
                      </div>
                      <div class="col-sm-1 col-md-2 col-lg-3">
                        <label for="FMMInferiores" class="form-label">Fuerza Muscular (Miembros Inferiores)</label>
                         <input type="text" class="form-control" id="FMMInferiores" name="FMMInferiores" value="<%= user.FMMInferiores %>">
                        </div>
                        <div class="col-sm-1 col-md-2 col-lg-3">
                          <label for="FlexMSuperiores" class="form-label">Flexibilidad- Elasticidad (Miembros Superiores)</label>
                           <input type="text" class="form-control" id="FlexMSuperiores" name="FlexMSuperiores" value="<%= user.FlexMSuperiores %>">
                          </div>
                          <div class="col-sm-1 col-md-2 col-lg-3">
                            <label for="FlexMInferiores" class="form-label">Flexibilidad- Elasticidad (Miembros Inferiores)</label>
                             <input type="text" class="form-control" id="FlexMInferiores" name="FlexMInferiores" value="<%= user.FlexMInferiores %>">
                            </div>
                            <div></div>
                            <br>
                            <br>
                            <h5>Dolor</h5>
                            <div class="col-sm-1 col-md-2 col-lg-3">
                              <label for="OpcionDolorMusculo" class="form-label">Dolor</label>
                                <select name="OpcionDolorMusculo" id="OpcionDolorMusculo" class="form-select">
                                    <option <%= user.OpcionDolorMusculo='Sí' ? "selected" : '' %> value="Sí">Sí</option>
                                    <option <%= user.OpcionDolorMusculo='No' ? "selected" : '' %> value="No">No</option>
                                    <option <%= user.OpcionDolorMusculo='No aplica' ? "selected" : '' %> value="No aplica">No aplica</option>
                                </select>
                            </div>
                        <div class="col-sm-1 col-md-2 col-lg-3">
                          <label for="DolorMusculoLocalizacion" class="form-label">Localización</label>
                           <input type="text" class="form-control" id="DolorMusculoLocalizacion" name="DolorMusculoLocalizacion" value="<%= user.DolorMusculoLocalizacion %>">
                          </div>
                          <div class="col-sm-1 col-md-2 col-lg-3">
                            <label for="DolorMusculoIntensidad" class="form-label">Intensidad</label>
                             <input type="text" class="form-control" id="DolorMusculoIntensidad" name="DolorMusculoIntensidad" value="<%= user.DolorMusculoIntensidad %>">
                            </div>
                            <div class="col-sm-1 col-md-2 col-lg-3">
                              <label for="DolorMusculoFactoresAgravantes" class="form-label">Factores Agravantes</label>
                               <input type="text" class="form-control" id="DolorMusculoFactoresAgravantes" name="DolorMusculoFactoresAgravantes" value="<%= user.DolorMusculoFactoresAgravantes %>">
                              </div>
                              <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="DolorMusculoFactoresAtenuantes" class="form-label">Factores Atenuantes</label>
                                   <input type="text" class="form-control" id="DolorMusculoFactoresAtenuantes" name="DolorMusculoFactoresAtenuantes" value="<%= user.DolorMusculoFactoresAtenuantes %>">
                                </div>
                                <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="DolorMusculoEvolucion" class="form-label">Evolución</label>
                                   <input type="text" class="form-control" id="DolorMusculoEvolucion" name="DolorMusculoEvolucion" value="<%= user.DolorMusculoEvolucion %>">
                                </div>
                                <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="DolorMusculoFreciencia" class="form-label">Frecuencia</label>
                                   <input type="text" class="form-control" id="DolorMusculoFreciencia" name="DolorMusculoFreciencia" value="<%= user.DolorMusculoFreciencia %>">
                                </div>

                                <br>
                                <br>
                                <br>
                                <div></div>
                                <br>
                                <br>
                                <h5>Rango de Movimiento Articular</h5>
                                <br>
                                <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="CompletosSup" class="form-label">Miembros Superiores (Completos)</label>
                                   <input type="text" class="form-control" id="CompletosSup" name="CompletosSup" value="<%= user.CompletosSup %>">
                                  </div>
                                  <div class="col-sm-1 col-md-2 col-lg-3">
                                    <label for="IncompletosSup" class="form-label">Miembros Superiores (Incompletos)</label>
                                     <input type="text" class="form-control" id="IncompletosSup" name="IncompletosSup" value="<%= user.IncompletosSup %>">
                                    </div>
                                    <div></div>
                                <br>
                                <br>
                                    <div class="col-sm-1 col-md-2 col-lg-3">
                                      <label for="CompletosInf" class="form-label">Miembros Inferiores- (Completos)</label>
                                       <input type="text" class="form-control" id="CompletosInf" name="CompletosInf" value="<%= user.CompletosInf %>">
                                      </div>
                                      <div class="col-sm-1 col-md-2 col-lg-3">
                                        <label for="IncompletosInf" class="form-label">Miembros Inferiores- (Incompletos)</label>
                                         <input type="text" class="form-control" id="IncompletosInf" name="IncompletosInf" value="<%= user.IncompletosInf %>">
                                        </div>
                                        <div></div>
                                        <br>
                                        <div class="col-md-4" hidden>
                                            <input type="number" class="form-control" id="FKPersona" name="FKPersona" value="<%= user.FKPersona %>">
                                        </div>
      <div></div>
      <br>
        <button type="submit" class="btn btn-outline-primary" style="width : 90px; height: 90px"  tabindex="12">Guardar datos</button>
        <br>
        <div></div>
          </form>
          </div>
        </div>
      </div>
      <!-- <box-icon name='sushi' rotate='90' ></box-icon> -->
  </body>
</html>