<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" crossorigin="anonymous">
    <link rel="icon" type="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png" href="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png"/>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/styleIndex.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <title>Pacientes Cardiorespiratorio</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><iconify-icon icon="material-symbols:home-outline-rounded" style="color: #f29494;" width="30" height="30"></iconify-icon></a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">Pacientes - Categoría Cardiorespiratorio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
    <br>
        <div></div>
        <br>
      <div class="main-container">
        <br>
        <div></div>
        <br>
        
        
<!--           <a href="/createCardio" class="btn btn-outline-primary md-block" title="Agregar Cardio"><box-icon name='plus-circle' size='lg' color='#f29494' ></box-icon></a> -->

<div class="container">
  <a href="/createPacientes" class="btn btn-outline-primary">Registrar Nuevo Paciente</a>
  <a href="/indexPacientes" class="btn btn-outline-primary">Lista Pacientes</a>
</div>


          <br>
          <div></div>
          <br>
          <table class="table table-responsive text-align:center table table-bordered" id="tabla" >
              <thead class="bg-secondary"> 
                  <tr class="bg-secondary" >
                    <th scope="col" hidden>id</th>
                    <th scope="col" class="text-light">Temperatura</th>
                    <th scope="col" class="text-light ">Frecuencia Cardíaca</th>
                    <th scope="col" class="text-light ">Tensión Arterial</th>
                    <th scope="col" class="text-light ">Frecuencia Respiratoria</th>
                    <th scope="col" class="text-light ">Saturación Oxígeno</th>
                    <th scope="col" class="text-light ">Tórax Simétrico</th>
                    <th scope="col" class="text-light ">Tórax Asimétrico</th>
                    <th scope="col" class="text-light ">Amplitud Respiratoria</th>
                    <th scope="col" class="text-light ">Patrón Respiratorio</th>
                    <th scope="col" class="text-light ">Tos</th>
                    <th scope="col" class="text-light ">Movilidad Tórax</th>
                    <th scope="col" class="text-light ">Tipo Tos</th>
                    <th scope="col" class="text-light ">Esputo</th>
                    <th scope="col" class="text-light ">Tipo Esputo</th>
                    <th scope="col" class="text-light ">Signos de dificultad respiratoria</th>
                    <th scope="col" class="text-light ">Frémito Bronqueal</th>
                    <th scope="col" class="text-light ">Ruidos Respiratorios</th>
                    <th scope="col" class="text-light ">Ruidos Cardiácos</th>
                    <th scope="col" class="text-light ">Ortesis (férulas)</th>
                    <th scope="col" class="text-light ">Asistencia para Posicionamiento</th>
                    <th scope="col" class="text-light ">Tecnología</th>
                    <th scope="col" class="text-light ">Ayudas externas para desplazamiento</th>
                    <th scope="col" class="text-light ">Dolor</th>
                    <th scope="col" class="text-light ">Localización</th>
                    <th scope="col" class="text-light ">Intensidad</th>
                    <th scope="col" class="text-light ">Factores Agravantes</th>
                    <th scope="col" class="text-light ">Factores Atenuantes</th>
                    <th scope="col" class="text-light ">Evolución</th>
                    <th scope="col" class="text-light ">Frecuencia</th>
                    <th scope="col" class="text-light ">Perfusión distal (sgs) - MMSS</th>
                    <th scope="col" class="text-light ">Perfusión distal (sgs) - MMII</th>
                    <th scope="col" class="text-light ">Pulsos</th>
                    <th scope="col" class="text-light ">Edema</th>
                    <th scope="col" hidden>FKPersona</th>
                    <th scope="col" class="text-light">Paciente</th>
                    <th scope="col" class="text-light ">Opciones</th>
                  </tr> 
              </thead>
              <tbody>
                <% registrosHS.forEach((card)=>{ %>
                  <tr>
                      <td hidden><%= card.id %></td>
                      <td><%= card.Temperatura %></td>
                      <td><%= card.FrecuenciaCardiaca %></td>
                      <td><%= card.TensionArterial %></td>
                      <td><%= card.FrecuenciaRespiratoria %></td>
                      <td><%= card.SaturacionOxigeno %></td>
                      <td><%= card.Simetrico %></td>
                      <td><%= card.Asimetrico %></td>
                      <td><%= card.AmplitudRespiratoria %></td>
                      <td><%= card.PatronRespiratorio %></td>
                      <td><%= card.Tos %></td>
                      <td><%= card.Movilidad %></td>
                      <td><%= card.TipoTos %></td>
                      <td><%= card.Esputo %></td>
                      <td><%= card.TipoEsputo %></td>
                      <td><%= card.SignosDifRespiratoria %></td>
                      <td><%= card.FremitoBronqueal %></td>
                      <td><%= card.RuidosRespiratorios %></td>
                      <td><%= card.RuidosCardiacos %></td>
                      <td><%= card.Ortesis %></td>
                      <td><%= card.AsistenciaPosicionamiento %></td>
                      <td><%= card.Tecnologia %></td>
                      <td><%= card.AyudasDesplazamiento %></td>
                      <td><%= card.OpcionDolorCardio %></td>
                      <td><%= card.DolorCardioLocalizacion %></td>
                      <td><%= card.DolorCardioIntensidad %></td>
                      <td><%= card.DolorCardioFactoresAgravantes %></td>
                      <td><%= card.DolorCardioFactoresAtenuantes %></td>
                      <td><%= card.DolorCardioEvolucion %></td>
                      <td><%= card.DolorCardioFrecuencia %></td>
                      <td><%= card.MMSSPDCirculacionAVLCardio %></td>
                      <td><%= card.MMIIPDCirculacionAVLCardio %></td>
                      <td><%= card.PulsosCirculacionAVLCardio %></td>
                      <td><%= card.EdemaCirculacionAVLCardio %></td>
                      <% usuarios.forEach((user)=>{ %>
                        <% if (card.FKPersona===user.id) { %>
                          <td><%= user.NombreCompleto %></td>
                        <% } %>
                      <% }) %>
                      <td hidden><%= card.FKPersona %></td>
                      <td>
                          <a href="/editCard/<%= card.id %>" class="btn btn-outline-primary" style="margin: 10px">Editar</a>
                          <iconify-icon icon="akar-icons:edit" style="color: #7abfa6;"></iconify-icon>
                          <a href="/deleteCard/<%= card.id %>" class="btn btn-outline-secondary">Eliminar</a>
                          <iconify-icon icon="fluent:delete-24-filled" style="color: #f29494;"></iconify-icon>
                      </td>
                  </tr>
                  <% }) %>
              </tbody>
          </table>
      </div>
  </body>
</html>